In [1]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\anisha\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [18]:
name, city, stream, fee= 'SimranKaur', 'LKO', 'Btech IT', 100000
query= "Insert into Student(id, name, city, stream, fee)VALUES('', {}, {}, {}, {})".format(name, city, stream, fee)
print(query)

Insert into Student(id, name, city, stream, fee)VALUES('', SimranKaur, LKO, Btech IT, 100000)

In [21]:
#Inserting row into table
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee = "Simran Kaur", 'LKO', 'Btech IT', 100000
query= "INSERT INTO STUDENT(id, name, city, stream, fee)VALUES('', {}, {}, {}, {})".format(name, city, stream, fee)

cursor=conn.cursor()
cursor.execute(query)

conn.commit()
cursor.close()
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Kaur, LKO, Btech IT, 100000)' at line 1")

In [12]:
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "Insert into Student(id, name, city, stream, fee)VALUES('', {}, {}, {}, {})".format(name, city, stream, fee)

cursor=conn.cursor()
cursor.execute(query)
print("{}data inserted.".format(cursor.rowcount))
conn.commit()
cursor.close()
conn.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'Kaur, LKO, Btech IT, 100000)' at line 1")

In [14]:
#Fteching the last row id of

In [16]:
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "Insert into Student(name, city, stream, fee)VALUES('%s','%s', '%s',%d)"

data=[
    ('Kishore Kumar','Gzb', 'BPharma', 140000),
    ('Ramaya','Gzb', 'Btech', 140000),
]
cursor = conn.cursor()
cursor.execute(query, data)
print("Rows created {}".format(cursor.rowcount))
conn.commit()
cursor.close()
conn.close()

TypeError: not enough arguments for format string

In [24]:
#Accessing the table data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT * FROM college_students;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Mohan Das', 'New Delhi', 'Btech CS', 50000)
(2, 'Karam Chand', 'New Delhi', 'Btech CS', 50000)
(3, 'Mohan Kumar', 'Gurgaon', 'Btech CS', 50000)
(4, 'Kirat Sharma', 'Ghaziabad', 'Btech CS', 50000)

In [37]:
#Fetch specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT * FROM college_students WHERE id=2;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(2, 'Karam Chand', 'New Delhi', 'Btech CS', 50000)

In [34]:
#Extracting specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT id,name,city,fee FROM college_students WHERE id=2;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(2, 'Karam Chand', 'New Delhi', 50000)

In [27]:
#Extracting specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT id,name,city,fee FROM college_students LIMIT 3;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(1, 'Mohan Das', 'New Delhi', 50000)
(2, 'Karam Chand', 'New Delhi', 50000)
(3, 'Mohan Kumar', 'Gurgaon', 50000)

In [30]:
#Extracting specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT id,name,city,fee FROM college_students LIMIT 3;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
print(len(rows))

cursor.close()
conn.close()

3

In [32]:
#Extracting specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT id,name,city,fee FROM college_students;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
print(len(rows))

cursor.close()
conn.close()

4

In [36]:
#Extracting specific column data
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')

name, city, stream, fee= 'Simran Kaur', 'LKO', 'Btech IT', 100000
query= "SELECT * FROM `college_students` ORDER BY `college_students`.`Name` ASC ;"

cursor=conn.cursor()
cursor.execute(query)

rows= cursor.fetchall()
for row in rows:
    print(row)

cursor.close()
conn.close()

(2, 'Karam Chand', 'New Delhi', 'Btech CS', 50000)
(4, 'Kirat Sharma', 'Ghaziabad', 'Btech CS', 50000)
(1, 'Mohan Das', 'New Delhi', 'Btech CS', 50000)
(3, 'Mohan Kumar', 'Gurgaon', 'Btech CS', 50000)

In [40]:
#Update Query

#UPDATE table_name
#SET column_name='Value to Update'
#WHERE id =3;


import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')
query= "UPDATE college_students SET name='Preet Kaur' WHERE id=2;"

cursor=conn.cursor()
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()

In [41]:
#Delete

import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')
query= "DELETE FROM college_students WHERE id=2;"

cursor=conn.cursor()
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()

In [42]:
#querry for fee<45000 will be deleted
import pymysql
 
conn= pymysql.connect(host='localhost', user='root', password='', database='student')
query= "DELETE FROM college_students WHERE fee<45000;"

cursor=conn.cursor()
cursor.execute(query)

conn.commit()

cursor.close()
conn.close()